@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Roboto+Slab:wght@100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-light: #e9ecef;
  --header-bg-light: #e9ecef;
  --color-schemer-bg-light: #fff;
  --footer-bg-light: #ced4da;
  --border-light: #afb2b4 2px solid;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Slab', 'Goldman', 'Times New Roman';
  width: 100vw;
  height: 100vh;
  background-color: var(--body-bg-light);
  overflow-y: hidden;
}

header {
  height: 100px;
  font-family: 'Goldman', 'Roboto Slab', 'Times New Roman';
  font-size: 2rem;
  padding: 20px;
  border-bottom: var(--border-light);
  background-color: var(--header-bg-light);
}

header > nav {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-github {
  color: black;
}

main {
  margin: 0 auto;
  width: 100%;
  height: calc(100% - (60px + 100px));
  display: flex;
  justify-content: center;
  align-items: center;
}

#schemer {
  padding: 5px;
  height: 700px;
  width: 700px;
  background-color: var(--color-schemer-bg-light);
  box-shadow: 0px 1px 3px 1px black;
}

#schemer > .controls-container {
  border: var(--border-light);
  height: 100%;
  width: 100%;
}

#schemer,
#schemer > .controls-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.controls-container > form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 10px;
}

.controls-container > form > select {
  flex-grow: 1;
  max-width: 400px;
}

.controls-container > form > .input-color {
  border: none;
  height: 40px;
  cursor: pointer;
}

.controls-container > form > #getScheme,
.controls-container > form > select {
  padding: 10px;
  border: var(--border-light);
  border-width: 1px;
  border-radius: 5px;
  background-color: var(--color-schemer-bg-light);
  cursor: pointer;
}

.controls-container > .colors-grid {
  flex: 1;
  width: 100%;
  display: flex;
}

.colors-grid > .color {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.colors-grid > .color > .scheme {
  flex: 1;
  outline: var(--border-light);
  outline-width: 1px;
}

.colors-grid > .color > .hex-code {
  height: 40px;
  text-align: center;
  padding: 5px;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--footer-bg-light);
  border-top: var(--border-light);
}
